<img style="margin-top: 30px;" src="~/images/area-restrita.png" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
   
</div>