﻿
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu Senha</title>

    <style>

        h2 {
            margin-top: 30px;
        }

    </style>
</head>
<body>

    <h2>
        <img src="~/images/forgot-password.png" />
        <br />
        <br />
        Esqueceu sua Senha?
    </h2>
    <br />
    <h5>
        Não se preocupe! Você pode entrar em contato com a equipe de
        administração para redefini-la.<br />
        <b></b>
        Segue abaixo o telefone para contatar o suporte:<br />
        <br />
    </h5>
    <br />
    <h5>
        <span>
            <img src="~/images/whatsapp_logo_icon.png" />
        </span>
        <a href="https://wa.me/5511997719079" target="_blank" style="color:white;">(11) 99771-9079</a>
    </h5>
</body>
</html>