@model LojaJkMisterG.Areas.Admin.AdmViewModels.AdminFuncionarioEditViewModel

@{
    ViewData["Title"] = "Editar fncionário";
}




<script>
    function selectOnlyThis(id) {
        var checkboxes = document.querySelectorAll('.form-check-input');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].id !== id) {
                checkboxes[i].checked = false;
            }
        }
        document.getElementById(id).checked = true;
    }

</script>
<br />
<br />
<h4>Editar funcionário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="EmailRegister" class="control-label"></label>
                <input asp-for="EmailRegister" class="form-control" />
                <span asp-validation-for="EmailRegister" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVendedor"  onchange="selectOnlyThis('vendedor')" id="vendedor" /> @Html.DisplayNameFor(model => model.IsVendedor)
                </label>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsGerente"  onchange="selectOnlyThis('gerente')" id="gerente" /> @Html.DisplayNameFor(model => model.IsGerente)
                </label>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin"  onchange="selectOnlyThis('admin')" id="admin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                </label>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="GeneratedPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="GeneratedPassword" class="form-control" readonly />
                    <div class="input-group-append">
                        <button id="btnGeneratePasswordEdit" type="button" class="btn btn-secondary">Resetar senha</button>
                    </div>
                </div>
                <span asp-validation-for="GeneratedPassword" class="text-danger"></span>
            </div>
            <br />
            @section Scripts {
                <script>
                    $('#btnGeneratePasswordEdit').click(function () {
                        $.ajax({
                            url: '@Url.Action("GenerateRandomPassword", "AdminFuncionarios")',
                            type: 'GET',
                            success: function (data) {
                                $('#GeneratedPassword').val(data);
                            }
                        });
                    });
                </script>

                <script>
                    const checkboxes = document.querySelectorAll('.form-check-input');

                    function selectOnlyThis(id) {
                        checkboxes.forEach((checkbox) => {
                            if (checkbox.id === id) {
                                if (checkbox.checked) {
                                    checkboxes.forEach((otherCheckbox) => {
                                        if (otherCheckbox !== checkbox) {
                                            otherCheckbox.checked = false;
                                        }
                                    });
                                }
                            }
                        });
                    }


                </script>
            }

            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a style="color:white" asp-action="Index">Voltar</a>
</div>

